<div id="formContainer">
  <form action="/search" method="post">
    <input id="word" type="text" name="word" placeholder="Word or Phrase">
    <input id="search" type="submit" value="S" onclick="placeText()">
  </form>
  <p id="rightSide">
    We use your query to match with songs that contain your query! This way, you're able to understand words in the context they're used, in a way that will be easy for you to remember! Give it a go to see how it works!
  </p>
</div>
