<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="../layout.css" type="text/css">
    <link href="../index.css" rel="stylesheet" type="text/css">
    <script src="../scripts/main.js"></script>
  </head>
  <body>
    <div id="navigation">
      <a href="/" class="navigationLink active">Learn</a>
      <a href="/about" class="navigationLink">About</a>
    </div>
    <%= yield %>
  </body>
  <script>
    setTimeout(function(){
      var word = document.getElementById('Aword').innerHTML;
      var lyrics = document.getElementById('lyrics').innerHTML;
      var regex = new RegExp(word, 'g');
      var newLyrics = lyrics.replace(regex, "<span class=\"highlight\">" + word + "</span>");
      document.getElementById('lyrics').innerHTML = newLyrics;
    }, 500);
  </script>
</html>
